WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id
WHATSAPP_ACCESS_TOKEN=your_access_token
WHATSAPP_VERIFY_TOKEN=your_verify_token
GCP_PROJECT_ID=your_gcp_project_id
BIGQUERY_DATASET=whatsapp_messages
BIGQUERY_TABLE_SENT=sent_messages
BIGQUERY_TABLE_RECEIVED=received_messages
API_AUTH_TOKEN=your_secure_api_token



